.dish {
  padding: 40px 190px 40px 90px;
}

.breadcrumbs {
  color: gray;
  margin: 10px;
}

.breadcrumbs:hover {
  color: black;
}

.dish-content {
  padding: 30px 0;
  display: flex;
}

.dish-content__description-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.dish-content__description {
  flex: 0 0 60%;
  max-width: 60%;
}

.dish-content__img {
  flex: 0 0 40%;
  max-width: 40%;
}

.dish-content__img-dish {
  max-width: 100%;
  max-height: 100%;
}
