.description {
  padding: 50px 70px;
}

.description__title {
  margin-bottom: 20px;
}

.description__description {
  margin-bottom: 15px;
}

.vacancies {
  margin-top: 15px;
  font-size: 14px;
  padding: 40px 20px;
  background-color: rgb(202, 229, 245);
  border-radius: 8px;
}

.description-info-wrapper {
  margin-bottom: 250px;
}

.vacancies__title-link {
  font-size: 18px;
  color: rgb(95, 95, 219);
  font-weight: bold;
}

.vacancies__title {
  margin: 15px 0;
}

.vacancies-form__title {
  margin-bottom: 15px;
}

.vacancies-form-inputs {
  display: flex;
  flex-direction: column;
}

.vacancies-form-inputs__item {
  display: flex;
  margin-bottom: 5px;
}

.vacancies-form-inputs__item-label-wrapper {
  width: 100px;
  display: flex;
  justify-content: flex-end;
}

.vacancies-form-inputs__item-label {
  margin-right: 5px;
}

.vacancies-form-inputs__item-input {
  padding: 5px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid gray;
}

.vacancy-error {
  color: red;
}

.vacacies-form__confirm-btn {
  margin-left: 10px;
  background-color: white;
  border: 1px solid;
  border-radius: 4px;
}

.popup {
  width: 400px;
  height: 190px;
  margin: 0;
  background: white;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}

.popup__btn-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.popup__btn {
  background-color: transparent;
  padding: 10px 47px;
  border: 1px solid gray;
  border-radius: 7px;
}
