.news {
  padding: 30px 50px;
}

.news__title {
  margin-left: 50px;
  margin-bottom: 25px;
}

.news__item {
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 7px;
}

.news__item-topic {
  margin-left: 7px;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 15px;
}

.news__item-topic_sign {
  font-size: 15px;
  font-weight: normal;
  color: rgb(109, 107, 107);
}

.news__item-date {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
